<section id="dates-exercises-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="container">
                <div class="page-header">
                    <span class="label" ng-class="vm.score > (vm.events.length / 2) ? 'label-success' : 'label-danger'">{{vm.score}} / {{vm.events.length * 2}}</span>
                    <chrono duration="vm.duration" controls="vm.chrono" finish="vm.display=false" style="float:right;margin-right:60px;" />
                    <h1 id="timeline">{{vm.title}}</h1>
                    <button ng-show="vm.display" class="btn btn-default btn-dates-go" ng-click="vm.chrono.start();" >Tester</button>
                </div>
                <div class="intro" ng-show="vm.intro">
                    <h3>Revisez vos dates, choisissez une période : </h3>
                    <div class="history-themes row">
                        <div class="panel panel-info col-md-3" ng-repeat="theme in vm.themes" ng-click="vm.intro = false">
                            <h6>{{theme}}</h6>
                        </div>
                    </div>
                </div>
                <ul class="timeline" ng-repeat="event in vm.events" ng-hide="vm.intro">
                    <li ng-show="vm.display" ng-class-even="'timeline-inverted'">
                        <div class="timeline-badge"> <span ng-hide="vm.mode.test">{{event.date}}</span></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                            <h4 class="timeline-title">{{event.title}}</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                            </div>
                            <div class="timeline-body">
                            <p>{{event.description}}</p>
                            </div>
                        </div>
                    </li>
                    <li ng-hide="vm.display" ng-class-even="'timeline-inverted'">
                        <div class="timeline-badge"> <input type="text" placeholder="année" ng-model="event.dateResult"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                            <h4 class="timeline-title"><input type="text" placeholder="titre" ng-model="event.titleResult"></h4>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class='timeline-btn-zone'>
                    <button type="button" class="btn btn-success" ng-hide="vm.display" ng-click="vm.CalculateResults()">Voir mes résultats</button>
                </div>
            </div>
        </div>
    </section>
</section>